body{
    background-color: aqua;
    font: normal 15pt arial
}
header{
    font-size: large;
    text-align: center;
    color: white;
}
section{
    background-color: white;
    border-radius: 10%;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px gray;
}
div{
   text-align: center;
   margin: auto;
   padding: 30px;
}
msg{
    font: large 20pt;
}
footer{
 font: large;
 text-align: center;
 color: white;
 font-style: italic;
}
